<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>check_for_active_session</servlet-name>
        <servlet-class>check_for_active_session</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>active_session</servlet-name>
        <servlet-class>active_session</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validation_servlet</servlet-name>
        <servlet-class>validation_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check_if_username_already_exists</servlet-name>
        <servlet-class>check_if_username_already_exists</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_user_to_db_servlet</servlet-name>
        <servlet-class>add_user_to_db_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>log_in_servlet</servlet-name>
        <servlet-class>log_in_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>log_out_servlet</servlet-name>
        <servlet-class>log_out_servlet</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>see_all_users_servlet</servlet-name>
        <servlet-class>see_all_users_servlet</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>get_user_data_from_db</servlet-name>
        <servlet-class>get_user_data_from_db</servlet-class>
    </servlet> 
    <servlet>
        <servlet-name>update_user</servlet-name>
        <servlet-class>update_user</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>details_of_user</servlet-name>
        <servlet-class>details_of_user</servlet-class>
    </servlet> 
    <servlet>
        <servlet-name>post_servlet</servlet-name>
        <servlet-class>post_servlet</servlet-class>
    </servlet>  
    <servlet>
        <servlet-name>show_from_all_last_posts</servlet-name>
        <servlet-class>show_from_all_last_posts</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>get_user_posts_from_db</servlet-name>
        <servlet-class>get_user_posts_from_db</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>delete_user_post_servlet</servlet-name>
        <servlet-class>delete_user_post_servlet</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>get_another_user_posts_from_db</servlet-name>
        <servlet-class>get_another_user_posts_from_db</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>get_full_post_servlet</servlet-name>
        <servlet-class>get_full_post_servlet</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>get_all_posts_of_user_servlet</servlet-name>
        <servlet-class>get_all_posts_of_user_servlet</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>delete_user_servlet</servlet-name>
        <servlet-class>delete_user_servlet</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>get_coords_for_every_user_post</servlet-name>
        <servlet-class>get_coords_for_every_user_post</servlet-class>
    </servlet>    
    <servlet-mapping>
        <servlet-name>check_for_active_session</servlet-name>
        <url-pattern>/check_for_active_session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>active_session</servlet-name>
        <url-pattern>/active_session</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>validation_servlet</servlet-name>
        <url-pattern>/validation_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check_if_username_already_exists</servlet-name>
        <url-pattern>/check_if_username_already_exists</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_user_to_db_servlet</servlet-name>
        <url-pattern>/add_user_to_db_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>log_in_servlet</servlet-name>
        <url-pattern>/log_in_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>log_out_servlet</servlet-name>
        <url-pattern>/log_out_servlet</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>see_all_users_servlet</servlet-name>
        <url-pattern>/see_all_users_servlet</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>get_user_data_from_db</servlet-name>
        <url-pattern>/get_user_data_from_db</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>update_user</servlet-name>
        <url-pattern>/update_user</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>details_of_user</servlet-name>
        <url-pattern>/details_of_user</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>post_servlet</servlet-name>
        <url-pattern>/post_servlet</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>show_from_all_last_posts</servlet-name>
        <url-pattern>/show_from_all_last_posts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_user_posts_from_db</servlet-name>
        <url-pattern>/get_user_posts_from_db</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>delete_user_post_servlet</servlet-name>
        <url-pattern>/delete_user_post_servlet</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>get_another_user_posts_from_db</servlet-name>
        <url-pattern>/get_another_user_posts_from_db</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>get_full_post_servlet</servlet-name>
        <url-pattern>/get_full_post_servlet</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>get_all_posts_of_user_servlet</servlet-name>
        <url-pattern>/get_all_posts_of_user_servlet</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>delete_user_servlet</servlet-name>
        <url-pattern>/delete_user_servlet</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>get_coords_for_every_user_post</servlet-name>
        <url-pattern>/get_coords_for_every_user_post</url-pattern>
    </servlet-mapping>    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
